<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h2>Basic tools needed:</h2>
    <ol>
      <li>Star San Sanitizer: EVERYTHING that is going to touch your juice should touch this first.</li>
      <li>Campden tablets: Sterilizer for apple juice/cider.</li>
      <li>Airlock: This keeps the bugs out of our brew.</li>
      <li>Empty beer bottles, bottle caps, and capper.</li>
      <li>4 foot section of food grade hose for transfering fluids.</li>
    </ol>
  </body>
</html>
